.bg-black-gradient {
  background: linear-gradient(
    96.52deg,
    rgba(151, 151, 151, 0.8) 0%,
    rgba(151, 151, 151, 0.2) 105.62%
  );
}

/*Logan CSS*/

.bgblack-gradient {
  background: linear-gradient(
    90.17deg,
    rgba(255, 255, 255, 0.16) 0%,
    rgba(255, 255, 255, 0.04) 98.08%
  );

  backdrop-filter: blur(5.00169px);
}

.border {
  border: 0.629574px solid rgba(255, 255, 255, 0.6);
}

.dummy-box {
  background: linear-gradient(
    90.17deg,
    rgba(255, 255, 255, 0.16) 0%,
    rgba(255, 255, 255, 0.04) 98.08%
  );
  backdrop-filter: blur(4.19717px);
}

/*Logan CSS ends*/

.bg-input-gradient {
  background: linear-gradient(
    90.17deg,
    rgba(255, 255, 255, 0.16) 0%,
    rgba(255, 255, 255, 0.04) 98.08%
  );
}

.bg-event-gradient {
  background: linear-gradient(
    180.04deg,
    rgba(255, 255, 255, 0.2) 0.04%,
    rgba(255, 255, 255, 0.05) 107.81%
  );
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.see-more-btn {
  background: linear-gradient(
    96.52deg,
    rgba(151, 151, 151, 0.8) 0%,
    rgba(151, 151, 151, 0.2) 105.62%
  );
}

.create-event-section {
  border-radius: 0.5rem;

  background: linear-gradient(
    96.52deg,
    rgba(62, 62, 62, 0.8) 0%,
    rgba(49, 49, 49, 0.2) 105.62%
  );
  /* border: 1px solid rgba(255, 255, 255, 0.6); */
  backdrop-filter: blur(6px);
}

.input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.create-event-gradient {
  border-radius: 0.5rem;

  background: linear-gradient(
    96.52deg,
    rgba(151, 151, 151, 0.8) 0%,
    rgba(151, 151, 151, 0.2) 105.62%
  );
  border: 1.15px solid #ffffff99;
}

.active-title {
  background: linear-gradient(
    96.52deg,
    rgba(62, 62, 62, 0.8) 0%,
    rgba(49, 49, 49, 0.2) 105.62%
  );
  border: 0.85px solid #ffffff4d;
}

.another-gradient {
  border: 1px solid #ffffff80 !important;
}

.visibility-header {
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}

.bg-visibility-selector {
  background: linear-gradient(
    96.52deg,
    rgba(133, 133, 133, 0.8) 0%,
    rgba(148, 148, 148, 0.2) 105.62%
  );
  border: 0.99px solid #ffffff99;
}

.event-image-gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 49.61%,
    rgba(0, 0, 0, 0.89) 89.76%
  );
}

.option-modal {
  background: linear-gradient(
    96.52deg,
    rgba(62, 62, 62, 0.8) 0%,
    rgba(49, 49, 49, 0.2) 105.62%
  );
  border: 0.36px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
}

.auth-modal {
  backdrop-filter: blur(2px);
}

.auth-modal2 {
  backdrop-filter: blur(1px);
}
