.bg-black-gradient {
  background: linear-gradient(
    96.52deg,
    rgba(151, 151, 151, 0.8) 0%,
    rgba(151, 151, 151, 0.2) 105.62%
  );
}

.bg-input-gradient {
  background: linear-gradient(
    90.17deg,
    rgba(255, 255, 255, 0.16) 0%,
    rgba(255, 255, 255, 0.04) 98.08%
  );
}

.btn-border {
  border: 1px solid rgba(255, 255, 255, 0.6);
}
